<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <ul>
        <% petsDB.forEach((pet, id) => { %>
            <li>
                <h2>
                    <%= pet.name %>
                    <a href="/edit/<%= id %>">
                        Edit
                    </a>
                </h2>
                <p>
                    This pet is
                    <%= pet.age %>
                    years old, and is a(n)
                    <%= pet.type %>.
                </p>
            </li>
        <% }) %>
    </ul>
</body>
</html>