<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EDIT PET</title>
    </head>
    <body>
        <h1>EDIT PET</h1>
        <nav>
            <a href="/pets">
                Back to All Pets
            </a>
        </nav>
        <!-- POST  /pets/:name        # Submission of edit form -->
        <form method="POST" action="/pets/<%= pet.name %>">
            <label for="name-field">
                Name:
            </label>
            <input type="text" id="name-field" name="name" value="<%= pet.name %>">
    
            <label for="type-field">
                Type:
            </label>
            <input type="text" id="type-field" name="type" value="<%= pet.type %>">
    
            <label for="age-field">
                Age:
            </label>
            <input type="number" id="age-field" name="age" value="<%= pet.age %>">
    
            <!-- <input type="submit" value="Update Pet"> -->
            <button type="submit">Update Pet</button>
        </form>
    </body>
</html>