<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>READ PET</title>
    </head>
    <body>
        <h1>READ PET</h1>
        <nav>
            <a href="/pets">
                Back to All Pets
            </a>
        </nav>
        <dl>
            <dt>Name</dt><dd><%= pet.name %></dd>
            <dt>Type</dt><dd><%= pet.type %></dd>
            <% if (typeof pet.age !== 'undefined') { %>
                <dt>Age</dt><dd><%= pet.age %></dd>
            <% } // End if %>
        </dl>
    </body>
</html>